<section class="bg-main-light shadow p-2 my-2 rounded-4 ">
   <div class="container">
     <h1 class="h2 text-main">Register now</h1>

    <form [formGroup]="registerForm" (ngSubmit)="registerSubmit()">
        <div class="my-2">
            <label for="name">first name</label>
            <input type="text" class="form-control" id="firstName" formControlName="firstName">

            @if (registerForm.get('firstName')?.errors && (registerForm.get('firstName')?.touched||registerForm.get('firstName')?.dirty)) {
                <div class="alert-danger alert w-50 ">
                    @if (registerForm.get('firstName')?.getError('required')) {
                        <p class="m-0">* firstName Is Required</p>
                    }
                    @else if (registerForm.get('firstName')?.getError('minlength')) {
                        <p class="m-0">* firstName should be more than or equal 3 chars</p>
                    }
                    @else if (registerForm.get('firstName')?.getError('maxlength')) {
                        <p class="m-0">* firstName should be less than or equal 20 chars</p>
                    }
                    </div>
            }
            </div>
             <div class="my-2">
            <label for="name">last name</label>
            <input type="text" class="form-control" id="lastName" formControlName="lastName">

            @if (registerForm.get('lastName')?.errors && (registerForm.get('lastName')?.touched||registerForm.get('lastName')?.dirty)) {
                <div class="alert-danger alert w-50 ">
                    @if (registerForm.get('lastName')?.getError('required')) {
                        <p class="m-0">* lastName Is Required</p>
                    }
                    @else if (registerForm.get('lastName')?.getError('minlength')) {
                        <p class="m-0">* lastName should be more than or equal 3 chars</p>
                    }
                    @else if (registerForm.get('lastName')?.getError('maxlength')) {
                        <p class="m-0">* lastName should be less than or equal 20 chars</p>
                    }
                    </div>
            }

            
        </div>
         <div class="my-2">
            <label for="email">email</label>
            <input type="email" class="form-control" id="email" formControlName="email">
              @if (registerForm.get('email')?.errors &&(registerForm.get('email')?.touched||registerForm.get('email')?.dirty)) {
                <div class="alert-danger alert w-50 ">
                    @if (registerForm.get('email')?.getError('required')) {
                        <p class="m-0">* email Is Required</p>
                    }
                    @else if (registerForm.get('email')?.getError('email')) {
                        <p class="m-0">* email Is not valid</p>
                    }
                    </div>
            }  
        </div>
         <div class="my-2">
            <label for="phone">phone</label>
            <input type="tel" class="form-control" id="phoneNumber"formControlName="phoneNumber">
             @if (registerForm.get('phoneNumber')?.errors &&registerForm.get('phoneNumber')?.touched  &&(registerForm.get('phoneNumber')?.touched||registerForm.get('phoneNumber')?.dirty) ) {
                <div class="alert-danger alert w-50 ">
                    @if (registerForm.get('phoneNumber')?.getError('required')) {
                        <p class="m-0">* phoneNumber Is Required</p>
                    }
                    @else if (registerForm.get('phoneNumber')?.getError('pattern')) {
                        <p class="m-0">* Enter valid phoneNumber </p>
                    }
                    </div>
            }
        </div>
         <div class="my-2">
            <label for="passowrd">passowrd</label>
                        <input type="password" class="form-control" id="password"formControlName="password">
            @if (registerForm.get('password')?.errors && registerForm.get('password')?.touched )
             { <div class="alert-danger alert w-50 ">
                    @if (registerForm.get('password')?.getError('required')) {
                        <p class="m-0">* password Is Required</p>
                    }
                    @else if (registerForm.get('password')?.getError('pattern')) {
                        <p class="m-0">* password Is not valid</p>
                    }
                    </div>
            }
               
        </div>
         <!-- <div class="my-2">
            <label for="repassword">repassword</label>
            <input type="password" class="form-control" id="repassword" formControlName="rePassword">
         @if (registerForm.getError("mismatch") && registerForm.get('rePassword')?.touched) {
            <p class="alert alert-danger m-0 w-50">Incorrect password confirmation</p>
          }
         
        </div>
         -->
        <button [disabled]="registerForm.invalid || isLoading"  type="submit" class="btn-main ms-auto d-block">register
            @if (isLoading) {
                <span><i class="fas fa-spin fa-spinner"></i></span>
            }
        </button>
@if (msgError) {
            <p class="alert alert-danger w-50 m-0 ">{{msgError}}</p>

   }   </form>
   </div>
</section>  

