
<footer
  class="footer-section  text-white mt-auto"
  style="background-color: #002244"
>
  <div class="container-fluid ">
    <div class="row g-4">
      <div class="col-lg-4 col-md-6">
        <img
          src="./assets/images/logo UCCD.jpg"
          alt="UCCD Logo"
          class="mb-3"
          width="140"
        />
        <p class="text-white-50 small">
          University Centre for Career Development (UCCD).<br />
          Helping students and graduates bridge the gap between university and
          the labor market.
        </p>
        <div class="social-links mt-3">
          <a href="#" class="text-white me-3"
            ><i class="fab fa-facebook-f"></i
          ></a>
          <a href="#" class="text-white me-3"
            ><i class="fab fa-linkedin-in"></i
          ></a>
          <a href="#" class="text-white me-3"><i class="fab fa-instagram"></i></a>
          <a href="#" class="text-white"><i class="fab fa-whatsapp"></i></a>

        </div>
      </div>

      <div class="col-lg-2 col-md-6">
        <h5 class="fw-bold mb-4">Quick Links</h5>
        <ul class="list-unstyled footer-links">
          <li class="mb-2">
            <a href="#" class="text-white-50 text-decoration-none">Home</a>
          </li>
          <li class="mb-2">
            <a href="#" class="text-white-50 text-decoration-none"
              >Our Services</a
            >
          </li>
          <li class="mb-2">
            <a href="#" class="text-white-50 text-decoration-none"
              >Contact Us</a
            >
          </li>
        </ul>
      </div>

      <div class="col-lg-6 col-md-12">
        <h5 class="fw-bold mb-4">Our Location</h5>
        <div class="map-container shadow-sm">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13770.63133160138!2d30.501324853399897!3d30.360672888751484!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1458bf50fb1f9ca3%3A0xf9d7c25798304fa6!2z2YXYsdmD2LIg2KrYr9ix2YrYqCDZhdmH2YbZiiDYp9mE2LPYp9iv2KfYqg!5e0!3m2!1sen!2seg!4v1770383040295!5m2!1sen!2seg"
            width="100%"
            height="200"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
    </div>

    <hr class="mt-5 mb-4 border-secondary" />
    <div class="text-center text-white-50 small">
      &copy; 2026 UCCD. All Rights Reserved.
    </div>
  </div>
</footer>
