<!-- section slider -->
<section class="p-0 overflow-hidden">
  <div class="container-fluid p-0">
    <owl-carousel-o [options]="customOptionsTop">
      <ng-template carouselSlide>
        <img
          src="../../../assets/images/team 1.jpg"
          class="carousel-img"
          alt=""
        />
      </ng-template>
      <ng-template carouselSlide>
        <img
          src="../../../assets/images/team 1.jpg"
          class="carousel-img"
          alt=""
        />
      </ng-template>
    </owl-carousel-o>
  </div>
</section>

<!-- section manager -->
<section class="director-word py-5 bg-light">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-4 text-center mb-4 mb-md-0">
        <div class="img-card shadow-sm">
          <img
            src="./assets/images/Sherif Shawky.jpeg"
            alt="Director"
            class="img-fluid rounded shadow"
          />
          <div class="bg-white py-2 rounded-bottom border-top">
            <small class="text-muted fw-bold">Center's Director</small>
          </div>
        </div>
      </div>

      <div class="col-md-8">
        <div class="card border-0 shadow-sm p-4 text-start">
          <h2 class="text-primary mb-3">A Word from the Center's Director</h2>
          <p class="text-muted lead-sm" style="line-height: 1.8">
            I would like to extend all my appreciation... The universities on
            the area are dedicated to building our graduates to the professional
            world by providing training programs in suitable careers and skills.
            We are getting job posts and we wish them success and future growth
            together. Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Labore sed quasi, esse hic dignissimos accusamus reprehenderit unde
            laborum voluptatum cumque vero corporis tenetur? Nemo ducimus
            facere, sapiente atque nihil laboriosam!
          </p>
          <hr class="my-3 w-25" />
          <h5 class="fw-bold text-dark">Prof. Dr. Sherif Shawky</h5>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- section services -->
<section class="services-section py-5 ">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12 text-center">
        <h2 class="fw-bold text-navy position-relative d-inline-block pb-2">
          Our Services
          <span class="title-line"></span>
        </h2>
        <p class="text-muted mt-2">
          Explore our professional training and language programs
        </p>
      </div>
    </div>

    <div class="row g-4">
      <div class="col-lg-3 col-md-6 text-center">
        <div class="card h-100 border-0 shadow-sm custom-service-card">
          <img
            src="./assets/images/Career-Shift-Toolkit.jpg"
            class="card-img-top"
            width="350"
            height="200"
            alt="Technical Training"
          />
          <div class="card-body">
            <h6 class="card-title fw-bold m-0">Career Shift Toolkit</h6>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="card h-100 border-0 shadow-sm custom-service-card">
          <img
            src="./assets/images/Choosing-Your-Major.jpg"
            class="card-img-top"
            width="350"
            height="200"
            alt="Technical Training"
          />
          <div class="card-body">
            <h6 class="card-title fw-bold m-0">Choosing Your Major</h6>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="card h-100 border-0 shadow-sm custom-service-card">
          <img
            src="./assets/images/Informational-Interview.jpg"
            class="card-img-top"
            width="350"
            height="200"
            alt="Technical Training"
          />
          <div class="card-body">
            <h6 class="card-title fw-bold m-0">Informational Interview</h6>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="card h-100 border-0 shadow-sm custom-service-card">
          <img
            src="./assets/images/Job-Shadowing.jpg"
            class="card-img-top"
            width="350"
            height="200"
            alt="Technical Training"
          />
          <div class="card-body">
            <h6 class="card-title fw-bold m-0">Job Shadowing</h6>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="card h-100 border-0 shadow-sm custom-service-card">
          <img
            src="./assets/images/Practice-Interview.jpg"
            class="card-img-top"
            width="350"
            height="200"
            alt="Technical Training"
          />
          <div class="card-body">
            <h6 class="card-title fw-bold m-0">Practice Interview</h6>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="card h-100 border-0 shadow-sm custom-service-card">
          <img
            src="./assets/images/Walk-in-Consultation.jpg"
            class="card-img-top"
            width="350"
            height="200"
            alt="Technical Training"
          />
          <div class="card-body">
            <h6 class="card-title fw-bold m-0">Consultation</h6>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="card h-100 border-0 shadow-sm custom-service-card">
          <img
            src="./assets/images/Resume-And-Cover-Letter-Development.jpg"
            class="card-img-top"
            width="350"
            height="200"
            alt="Technical Training"
          />
          <div class="card-body">
            <h6 class="card-title fw-bold m-0">
              Resume and LinkedIn Profile Development
            </h6>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="card h-100 border-0 shadow-sm custom-service-card">
          <img
            src="./assets/images/Learning-English.jpg"
            class="card-img-top"
            width="350"
            height="200"
            alt="Technical Training"
          />
          <div class="card-body">
            <h6 class="card-title fw-bold m-0">Learning-English</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- section core principles -->
<section class="principles-section py-5 bg-light">
  <div class="container text-center">
    <div class="logo-container mb-4">
      <img
        src="./assets/images/logo UCCD.jpg"
        alt="UCCD Logo"
        class="center-logo"
      />
    </div>

    <div class="title-area mb-5">
      <h2 class="fw-bold text-navy text-uppercase">Our Core Principles</h2>
      <p class="text-muted">Guiding our growth and success</p>
    </div>

    <div class="row g-4 justify-content-center">
      <div class="col-md-4">
        <div class="principle-card h-100 p-4 shadow-sm border-0">
          <div class="icon-circle mb-3">
            <i class="fa-solid fa-eye"></i>
          </div>
          <h4 class="fw-bold">Vision</h4>
          <p class="text-black ">
            To provide quality career development services to USC students and
            graduates to bridge the gap between university and labor market
          </p>
        </div>
      </div>

      <div class="col-md-4">
        <div
          class="principle-card h-100 p-4 shadow-sm border-0 mission-highlight"
        >
          <div class="icon-circle mb-3 bg-white">
            <i class="fa-solid fa-crosshairs "></i>
          </div>
          <h4 class="text-white fw-bold">Mission</h4>
          <p class="text-white-50 small">
            To provide quality career development services to USC students and
            graduates to bridge the gap between university and labor market
          </p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="principle-card h-100 p-4 shadow-sm border-0">
          <div class="icon-circle mb-3">
            <i class="fa-solid fa-gem"></i>
          </div>
          <h4 class="fw-bold">Values</h4>
          <ul class="values-list ">
            <li><i class="fa-solid fa-circle-check"></i> Students focus </li>
            <li><i class="fa-solid fa-circle-check"></i> Equity</li>
            <li><i class="fa-solid fa-circle-check"></i> Cooperation</li>
            <li><i class="fa-solid fa-circle-check"></i> Quality</li>
            <li><i class="fa-solid fa-circle-check"></i> Innovation</li>

          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
