<nav class="navbar navbar-expand-lg bg-body-tertiary ">
  <div class="container-fluid">
    <a class=" mx-4 navbar-brand"  routerLink="home"  href="#">
      <div class="d-flex justify-content-center align-items-center">
<img src="./assets/images/logo UCCD.jpg" width="60" alt=""> 
          <h1 class="h3 fw-bolder p-1 text-main">UCCD</h1>
      </div>
      
    
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        
       
       
          <li class="nav-item">
          <a class=" mx-4 nav-link active" routerLink="home" routerLinkActive="active-link" aria-current="page" href="#">home</a>
        </li>
        

         <li class="nav-item dropdown">
          <a class="mx-4 nav-link dropdown-toggle" href="#" role="button" routerLinkActive="active-link" data-bs-toggle="dropdown" aria-expanded="false">
            services
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#"  routerLinkActive="active-link"  routerLink="courses" >courses</a></li>
            <li><a class="dropdown-item" href="#"  routerLinkActive="active-link"  routerLink="workshops" >work shops</a></li>
            
            
          </ul>
          </li>
          
          <li class="nav-item">
          <a class=" mx-4 nav-link active" routerLink="wish-list" routerLinkActive="active-link" aria-current="page" href="#">wishList</a>
        </li>

          <li class="nav-item">
          <a class=" mx-4 nav-link active" routerLink="profile" routerLinkActive="active-link" aria-current="page" href="#">profile</a>
        </li>
       

         <li class="nav-item">
          <a class="nav-link active mx-4" aria-current="page"  routerLink="voluntering" routerLinkActive="active-link"href="#">voluntering</a>
        </li>
         <li class="nav-item">
          <a class="nav-link active mx-4" aria-current="page" routerLink="contact" routerLinkActive="active-link" href="#">contact us</a>
        </li>
        
      </ul>
     <ul class="ms-auto navbar-nav fw-bolder ">

         <li class="nav-item ">
          <a class="nav-link active mx-4   " aria-current="page" routerLink="signout" routerLinkActive="active-link" href="#">sign-out</a>
        </li>

        
     </ul>
    </div>
  </div>
</nav>